/* Inserta tu codigo aqui */
img{
	max-width: 100%;
}
body{
	background-color: #2d2735;
}
/*estilos del header*/
header, footer{
	background-color: #1c1821;
}
header .menu1{
	list-style: none;
	text-align: right;
	margin: 4% 4%;
}
header .menu2{
	display: inline-block;
	margin-left: 3%;
}
header a{
	text-decoration: none;
	color: #ffffff;
	font-family: "Open Sans";
}
/*estilos del banner*/

.banner{
	background-image: url(../image/header-image.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 10%;
	margin-top: 20px;
}
.spring{
	background-color: #1c1821;
	font-family: "Courgette";
	text-align: center;
	max-width: 50%;
	padding: 5% 0%;
	margin-left: 30%;
}
.spring h1{
	color: #F6B96A;
	font-size: 3em;
}
.spring h4{
	display: inline-block;
	color: #ffffff;
	margin: 1% 2%;
	font-size: 12px;
}
/*estilos de los articulos*/
article{
	text-align: center;
	margin-left: 2%;
}
.datos{
	background-color: #1c1821;
	margin: 20px 0;
}
.datos h4{
	color: #F6B96A;
	font-family: "Courgette";
	margin-top: 1%;
	margin-bottom: 1%;
}
.datos h5{
	color: #ffffff;
	font-family: "Courgette";
	margin-bottom: 2%;
	font-size: 12px;
	padding: 5px;
}
/*estilos de las entradas*/
.text{
	background-color: #1c1821;
}
.text h3, h4{
	text-align: center;
	padding: 5px;
}
.text h3{
	color: #F6B96A;
	font-family: "Courgette";
	font-size: 14px;
}
.text h4{
	font-family: "Open Sans";
	color: #ffffff;
	font-size: 12px;
}
.text p{
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 12px;
	margin: 10px;
}
.video{
	background-color: #1c1821;
}
.video p{
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 12px;
	margin: 10px;
}
/*estilos de about*/
.buscar{
	background-color: #1c1821;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
}
.buscar input{
	width: 100%;
	padding: 10px;
	background-color: #2D2735;
	border: none;
}
.about{
	background-color: #1c1821;
	text-align: center;
	color: #ffffff;
	font-family: "Open Sans";
	margin-top: 10px;
}
.about p{
	font-family: "Open Sans";
	font-size: 12px;
	margin: 5px;
}
.about h3{
	color: #F6B96A;
	font-family: "Courgette";
	font-size: 14px;
	margin: 10px;
}
ul{
	list-style: none;
}
li{
	display: inline-block;
	background-color: #2D2735;
	padding: 5px 8px;
	border-radius:20px;
	margin: 10px;
	font-size: 12px;
}
/*estilos del footer*/
footer{
	padding: 20px;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	font-family: "Open Sans";
}
/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
